* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 32px;
}

body {
  background-image: url('../images/backgroundR.png');
  background-repeat: repeat;
}

/* scrollbar消失 */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@font-face {
  font-family: 'writesAnnie';
  src:
    url('../fonts/writesAnnie.woff2') format("woff2"),
    url('../fonts/writesAnnie.ttf') format("ttf")
}

@font-face {
  font-family: 'writesTai';
  src:
    url('../fonts/writesTai.woff2') format("woff2"),
    url('../fonts/writesTai.ttf') format("ttf")
}

@font-face {
  font-family: 'annieCalligraphy';
  src:
    url('../fonts/annieCalligraphy.woff2') format("woff2"),
    url('../fonts/annieCalligraphy.ttf') format("ttf")
}

@font-face {
  font-family: 'testFont';
  src:
    url('../fonts/testFont.woff2') format("woff2"),
    url('../fonts/testFont.ttf') format("ttf")
}

/* 扛棒 */
.cardHeader {
  padding: 20px 60px 0px 60px;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0px;
}

/*資訊按鈕*/
.infoButton {
  font-family: "writesTai";
  width: 50px;
  height: 50px;
  background-image: url('../images/info.png');
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.infoButton:hover {
  filter: brightness(120%)
}

.infoButton:focus {
  outline: none;
}

/*標題*/
.title {
  width: 80%;
  font-size: 72px;
  text-align: center;
  padding-top: 10px;
  font-family: "annieCalligraphy", "testFont";
  margin: 0px;
  background-image: url('../images/title.png');
  background-repeat: repeat;
}

/*切換使用者*/
select {
  padding-left: 5px;
  height: 50px;
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../images/nameFieldSelect.JPG');

}

select:focus {
  height: 85px;
  outline: none;
}

select:hover {
  filter: brightness(120%)
}

/* 選項的scrollbar消失 */
select::-webkit-scrollbar {
  width: 0;
  height: 0;
}

option {
  padding-top: 5px;
  background-image: url('../images/nameField.JPG');
  background-repeat: no-repeat;
}

/*資訊內容*/
.info {
  position: fixed;
  display: inline-block;
  background-image: url('../images/messageR.png');
  background-size: 100% 100%;
  height: 45%;
  width: 40%;
  margin-left: 60px;
  margin-top: 20px;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px 15px;
  font-family: "writesAnnie";
}

.info::-webkit-scrollbar {
  width: 0;
  height: 0;
}



/* 裝訊息內容的地方 */
.cardBody {
  padding: 20px 60px;
  margin: 100px 0px;
}

.messageList {
  list-style: none;
  margin: 0px;
  overflow: auto;
}

/* 左右邊訊息換不同的紙 */
.messageL,
.messageR {
  padding: 10px 15px;
  margin: 0px;
  max-width: 80%;
  display: inline-block;
  word-wrap: break-word;
  background-size: 100% 100%;
}

.messageL {
  background-image: url('../images/messageL.png');
}

.messageR {
  background-image: url('../images/messageR.png');
}

.message {
  margin: 0px;
}

/* 訊息內容換左右邊 */
.messageItemAnnieL {
  padding: 10px;
  margin: 0px;
  font-family: "writesAnnie";
  text-align: left;
}

.messageItemAnnieR {
  padding: 10px;
  margin: 0px;
  font-family: "writesAnnie";
  text-align: right;
}

.messageItemTaiL {
  padding: 10px;
  margin: 0px;
  font-family: "writesTai";
  text-align: left;
}

.messageItemTaiR {
  padding: 10px;
  margin: 0px;
  font-family: "writesTai";
  text-align: right;
}

/* 屬名粗體 */
.chatUsername {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  padding: 5px 0px;
  margin: 0px;
}

/* 輸入訊息的地方 */
.cardFooter {
  padding: 0px 60px 20px 60px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  background-image: url('../images/background.JPG');

}

.messageField {
  height: 60px;
  font-family: "writesAnnie";
  background-image: url('../images/field.JPG');
  border: none;
  width: 90%;
  padding: 10px;
}

.messageField:focus {
  outline: none;
}

::placeholder {
  color: black;
  opacity: 0.3;
}

/*飛機按鈕*/
.sendButton {
  width: 80px;
  height: 60px;
  background-image: url('../images/airplane.png');
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
}

.sendButton:hover {
  filter: brightness(120%)
}

.sendButton:focus {
  outline: none;
}

/* RWD耶 */
@media (max-width: 768px) {
  * {
    font-size: 24px;
  }

  .cardHeader,
  .cardBody,
  .cardFooter {
    padding-left: 40px;
    padding-right: 40px;
  }

  .cardBody {
    margin: 75px 0px;
  }

  .title {
    font-size: 44px;
  }

  select {
    height: 37.5px;
    width: 75px;
  }

  .infoButton {
    height: 37.5px;
    width: 37.5px;
  }

  select:focus {
    height: 70px;
  }

  .chatUsername {
    font-size: 12px;
  }

  .messageField {
    height: 45px;
  }

  .sendButton {
    width: 60px;
    height: 45px;
  }
}

@media (max-width: 480px) {

  .cardHeader,
  .cardBody,
  .cardFooter {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
  }

  .cardBody {
    margin: 50px 0px;
  }

  .title {
    font-size: 32px;
  }

  select {
    height: 25px;
    width: 50px;
  }

  .infoButton {
    height: 25px;
    width: 25px;
  }

  .info {
    width: 75%;
  }

  .nameField,
  .cusOption {
    font-size: 16px;
  }


  select:focus {
    height: 47px;
  }

}